{% include 'base.html' %}
{% include 'navbar.html' %}

{% block content %}
{% endblock content %}

{% block navbar %}
{% endblock navbar %}
<div class="wrapper">

    <div class="main-content">
        <div class="jumbotron text-center mr-auto" style="background:transparent;">
            <div>
                <h1 class="display-4">{{ object.title }}</h1>
            </div>
            <div class="container-fluid BA">
                <div class="card" style="background:transparent;">
                    <!--                            <img src="#" class="card-img-top">-->
                    <div class="card-body">
                        <p class="card-text mx-auto" style="max-width:2000px; margin:30px; padding:20px;">
                            {{ object.content }} Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit. Aperiam dolor doloremque ea eum id ipsam modi neque nihil odio,
                            quaerat quos tempora voluptate! Ab adipisci alias beatae consectetur delectus dolor
                            eius, eligendi et explicabo facilis id iure libero magni modi molestiae officiis
                            pariatur possimus quibusdam, sint sit soluta unde veritatis voluptas. Adipisci
                            aliquam aperiam architecto blanditiis corporis distinctio, dolorem dolores dolorum
                            error facere ipsum labore maiores minima molestiae nesciunt nihil non placeat quidem
                            quisquam quod rem sed similique sint veritatis voluptatibus! Aliquid aut blanditiis
                            corporis earum ex iusto nostrum quae reprehenderit sapiente temporibus. Asperiores
                            delectus earum error esse ipsam labore officiis quasi saepe voluptate voluptatum!
                            Alias aliquam animi aperiam autem blanditiis commodi cum cupiditate delectus
                            doloribus ea eius excepturi fugit harum illum inventore, laborum libero molestiae
                            molestias nesciunt nobis non numquam odio officia perferendis placeat possimus quas
                            qui quia quisquam recusandae sapiente sit tempora totam unde vitae voluptas
                            voluptatum. Accusamus aliquam asperiores consequatur culpa delectus distinctio
                            doloribus eveniet expedita facere fuga fugit impedit ipsa, minus molestiae
                            necessitatibus nostrum optio quod rem sed sit suscipit tempore velit? Aliquam
                            deserunt dicta dignissimos dolorem fuga laudantium magni porro soluta vel veniam.
                            Beatae est fugiat harum hic, quo rerum tempora voluptates! At beatae consequatur
                            cupiditate debitis dolore, eligendi est exercitationem inventore maxime pariatur
                            quae quas quidem reprehenderit rerum sint? Animi dolor, dolore eaque in quae quod
                            tenetur! Accusantium consequuntur cupiditate delectus eligendi exercitationem, harum
                            ipsa iste magnam natus nobis perspiciatis quasi quibusdam sed ut voluptatum. Amet at
                            commodi consequuntur debitis delectus deleniti dicta distinctio dolorem doloribus
                            eos est eveniet excepturi explicabo facilis fugiat hic iste itaque, iure labore
                            laboriosam laudantium magnam magni minima molestiae natus nemo nihil nobis non omnis
                            possimus quis recusandae reprehenderit sunt tempora tenetur unde velit. Architecto
                            blanditiis dolore doloribus possimus, qui quidem recusandae ullam. A accusantium,
                            aliquam amet asperiores aspernatur consequuntur eaque eius eligendi esse eum
                            excepturi ipsum laborum natus optio placeat provident quas quia quibusdam sint,
                            tempore vel velit vero, voluptatem. Ad animi eos et, ex facilis in, laudantium nam
                            omnis quasi, saepe sequi totam. Accusamus adipisci aliquam consequatur dignissimos,
                            dolor doloremque doloribus eius et harum, in modi nostrum, obcaecati praesentium
                            quaerat quas quis quo similique voluptate. Ab accusantium, amet animi dolorem, ea
                            eum eveniet in magni nostrum nulla quas repellendus reprehenderit saepe, sapiente
                            tempora tempore ut veritatis voluptatum! Beatae consequuntur doloremque doloribus ea
                            esse est ex magnam maiores minima mollitia nulla numquam obcaecati omnis optio
                            perferendis perspiciatis praesentium provident quam quasi quisquam sequi sit,
                            veritatis voluptatum. Ad alias at autem cumque deleniti deserunt dignissimos dolorem
                            eos esse eveniet excepturi explicabo fugit illum libero maxime mollitia non
                            obcaecati officia possimus quaerat quibusdam quod recusandae reiciendis, sapiente
                            sunt unde velit veritatis? At cupiditate dolor earum et id officiis optio quidem,
                            quisquam vel voluptate! Aliquam cum dolorem ducimus provident quia reiciendis,
                            temporibus velit. Accusantium blanditiis deserunt dolorum expedita illum labore
                            maiores nulla porro quam voluptatum! Culpa enim ipsum iste iusto laboriosam nobis
                            odio quis temporibus ullam? At expedita fugiat, impedit maxime neque possimus quidem
                            ratione rem reprehenderit totam ut veritatis voluptates?</p>
                        <p class="card-text">{{ object.author }}</p>
                        <div style="background:transparent;">
                            <ul class="list-group list-group-flush" style="background:transparent;">
                            </ul>
                        </div>
                    </div>
                    {% if user == post.author%}
                    <div class="btn-group btn-group-lg mx-auto" style="min-width:300px; max-width:500px" role="group">
                        <button type="button" class="btn btn-secondary" ><a style="color:white;" href="{% url 'post-update' post.id %}">Update</a></button>
                        <button type="button" class="btn btn-secondary"><a style="color:white;" href="{% url 'post-delete' post.id %}">Delete</a></button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
</body>
</html>