{% include 'base.html' %}
{% include 'navbar.html' %}

{% block content %}
{% endblock content %}

{% block navbar %}
{% endblock navbar %}
<div class="wrapper">

    <div class="main-content">
        <div class="jumbotron text-center mr-auto" style="background:transparent;">
            <div>
                <h1 class="display-4">{{ object.title }}</h1>
            </div>
            <div class="container-fluid BA">
                <div class="card" style="background:transparent;">
                    <!--                            <img src="#" class="card-img-top">-->
                    <div class="card-body">
                        <p class="card-text mx-auto" style="max-width:2000px; margin:30px; margin-top:15px;">
                            {{ object.content|linebreaks }}</p>
                        <p class="card-text">{{ object.author }}</p>
                        <div style="background:transparent;">
                            <ul class="list-group list-group-flush" style="background:transparent;">
                            </ul>
                        </div>
                    </div>
                    {% if user == post.author%}
                    <div class="btn-group btn-group-lg mx-auto" style="min-width:300px; max-width:500px" role="group">
                        <button type="button" class="btn btn-secondary" ><a style="color:white;" href="{% url 'post-update' post.id %}">Update</a></button>
                        <button type="button" class="btn btn-secondary"><a style="color:white;" href="{% url 'post-delete' post.id %}">Delete</a></button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
</body>
</html>