.noDecoration{
    text-decoration: none !important;
    all: unset;
    color: black !important;
}

.razorpay-payment-button{
    height:50px;
    background-color:black;
    border:2px solid green;
    color: green;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.razorpay-payment-button:hover {
    background-color: green; /* Green */
    color: white;
}

.container-home-2{
    width:97%;
}

#home-1-button{
    color: green;
    background: black;
    font-weight: 800;
    border:solid green 2px;
    height:56px; width:180px;
    font-size: 17px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

#home-1-button:hover {
    color: white;
    background: green;
    transform: scale(1.08);
}

#home-border-2 {
    text-decoration: none !important;
    border:solid black 2px; /* Green */
    margin: 10px auto;
    padding: 20px;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

#home-border-2:hover {
    text-decoration: none !important;
    border:solid green 2px;
    transform: scale(1.05); /* Green */
}

footer{
    background: black;
    color: white;
}

img{
    max-width:100%;
    display: block;
    margin:auto;
    padding:auto;
}