{% include 'base.html' %}
{% include 'navbar.html' %}

{% block content %}
{% endblock content %}

{% block navbar %}
{% endblock navbar %}
<!--<div class="container">-->
<!--    <div class="jumbotron">-->
<!--        <form method="post">{% csrf_token %}-->
<!--            {{ form.as_p }}-->
<!--            <button type="submit" class="btn btn-danger">Donate</button>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->

<div class="container text-center">
    <div class="jumbotron" style="background:transparent">
        <table class="table mx-auto" style="background:#181818;border-top:solid #181818;">
            <thead class="thead" style="background:#181818;color:white;">
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price/Item</th>
            </tr>
            </thead>
            <tbody style="background:white;">
            <tr>
                <td>{{ item.title }}</td>
                <td>1</td>
                <td>{{ item.price }}</td>
            </tr>
            <tbody style="background:white;">
            <tr>
                <td><strong>Total</strong></td>
                <td></td>
                <td><strong>{{ item.price }}</strong></td>
            </tr>
        </table>
    </div>
</div>

<div class="mx-auto text-center">
<!--        <form action="http://chowebsite.herokuapp.com/orders/" method="POST">-->
    <form action="http://127.0.0.1:8000/order_event/" method="POST">
<!--        <form action="http://2490d72a.ngrok.io/orders/" method="POST">-->
        {% csrf_token %}
        <script
                src="https://checkout.razorpay.com/v1/checkout.js"
                data-key="rzp_test_yOE6xZdXk9blro"
                data-amount="{{ razor_price }}"
                data-currency="INR"
                data-order_id="{{ order_id }}"
                data-buttontext="Pay with Razorpay"
                data-name="Django Project"
                data-prefill.name="{{ user.username }}"
                data-prefill.email="{{ user.email }}"
                data-theme.color="#181818"
        ></script>
        <input class="btn btn-success" type="hidden" custom="Hidden Element" name="hidden">
    </form>
</div>
</body>
</html>