{% load static %}
{% include 'base.html' %}
{% include 'navbar.html' %}
<!--EXTENDING FROM OTER TEMPLATES-->
<!--{% block content %}-->
<!--{% endblock %}-->
<!--{% block navbar %}-->
<!--{% endblock navbar %}-->
<div class="wrapper">
    {% if messages %}
    {% for message in messages %}
    <div class="text-center alert alert-info">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <div class="main-content">
        <div class="jumbotron text-center" style="background:transparent;">
            <div class="text-center">
                <h1 class="display-4">All {{ filter }}</h1>
                {% if filter == "Books" %}
                <p class="lead">Choose from a range of Books</p>
                {% elif filter == "Bio-hacks" %}
                <p class="lead">Choose from a range of Bio-hacks</p>
                {% elif filter == "Clothes" %}
                <p class="lead">Choose from a range of selected fashion</p>
                {% else %}
                <p class="lead">Choose from a range of products</p>
                {% endif %}
            </div>
            <div class="container-fluid">
                <div class="row">
                    {% for product in products %}
                    <div class="col-md-4 col-lg-3 col-sm-6 col-xs-12 col-xl-3">
                        <div class="card mx-auto" style="background:transparent;">
                            <a style="color:white;text-decoration:none;"
                               href="{% url 'product-detail' product.id %}">
                                <img src="{{ product.image.url }}" class="card-img-top">
                            </a>
                            <div class="card-body">
                                <h4 class="card-title"><a style="color:white;text-decoration:none;"
                                                          href="{% url 'product-detail' product.id %}">
                                    {{ product.title }} </a>

                                </h4>
                                <!--                            <p class="card-text">{{ product.description }}</p>-->
                                <p class="card-text">INR {{ product.price }}</p>
                                <div style="background:transparent;">

                                    <ul class="list-group list-group-flush" style="background:transparent;">
                                        <li class="list-group-item text-center" style="background:black !important;">
                                            <a href="{% url 'buy_now' product.id %}"
                                               class="btn btn-dark btn-lg active text-center"
                                               style="font-size:15px;" role="button"
                                               aria-pressed="true"> Buy Now
                                            </a>
                                            <div style="list-style-type:none"><br></div>
                                            <a href="{% url 'add_to_cart' product.id %}" s
                                               class="btn btn-secondary btn-lg active text-center"
                                               style="font-size:15px;"
                                               role="button"
                                               aria-pressed="true">Add to cart
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!--Footer-->
<div>
    {% include 'footer.html' %}
</div>
</body>
</html>