{% include 'base.html' %}
{% include 'navbar.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% block navbar %}
{% endblock navbar %}

<div class="text-center alert alert-info">
    An email has been sent with instructions to reset your password.
</div>

<div class="container mt-5">
    <div style="background:transparent !important" class="jumbotron text-center">
<!--        <h1 class="display-6">Logged Out</h1>-->
        <p class="lead">Please check your registered Email</p>
        <div class="form-group text-center">
            <a href="{% url 'login' %}">
                <button class="btn btn-outline-success">Login</button>
            </a>
        </div>
        <div class="border-top pt-3 text-center">
            <small class="text-muted">Problem?<a class="ml-2" href=#>Contact Us!</a></small>
        </div>
    </div>
</div>

{% endblock content%}