{% load static %}
{% include 'base.html' %}
{% include 'navbar.html' %}
<!--EXTENDING FROM OTER TEMPLATES-->
<!--{% block content %}-->
<!--{% endblock %}-->
<!--{% block navbar %}-->
<!--{% endblock navbar %}-->
<div class="wrapper">
    <div class="container">
        <div class="row mt-5 pt-3 mb-3 pb-">
            <div class="col-md-7 text-center">
                <h1>lorem made easy.</h1>
                <h5>
                    lorem.com is a personal shop that focuses on lorem and lorem.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolores
                    doloribus ea enim eos est facere modi reiciendis sed veniam.
                </h5>
                <br>
                <a class="noDecoration" href="{% url 'products' %}">
                    <button id="home-1-button">Shop now!</button>
                </a>
                <div><br></div>
            </div>
            <div class="col-md-5 text-center">
                <h2>lorem made easy.</h2>
                <h5>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, facilis?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolores
                    doloribus ea enim eos est facere modi reiciendis sed veniam.
                </h5>
                <br>
            </div>
        </div>
    </div>

    <div style="width:100%;background:white;color:black;">
        <div class="mx-auto text-center container-home-2" style="display:flex; align-items:center">
            <div class="row mx-auto mt-4 pt-3 mb-3 pb-3" style="padding:10px;">
                <div class="mx-auto col-sm-12 col-md-6 col-lg-4">
                    <div class="container" id="home-border-2">
                        <div id="home-2-image">
                            <img src="{% static 'images/index.jpeg' %}">
                        </div>
                        <div>
                            <h4>Lorem ipsum dolor sit amet.</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias enim, error
                                iste
                                minus quos.</p>
                        </div>
                        <div>
                            <a class="noDecoration" style="color: black !important;" href="{% url 'filter' 'Books' %}">
                                <button type="button" class="btn btn-outline-success"
                                        style="width:40%; min-height:20%;">View now!
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="mx-auto col-sm-12 col-md-6 col-lg-4">
                    <div class="container" id="home-border-2">
                        <div id="home-2-image">
                            <img src="{% static 'images/index.jpeg' %}">
                        </div>
                        <div>
                            <h4>Lorem ipsum dolor sit amet.</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias enim, error
                                iste
                                minus quos.</p>
                        </div>
                        <div>
                            <a class="noDecoration" style="color: black !important;" href="{% url 'filter' 'Clothes' %}">
                                <button type="button" class="btn btn-outline-success"
                                        style="width:40%; min-height:20%;">View now!
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="mx-auto col-sm-12 col-md-6 col-lg-4">
                    <div class="container" id="home-border-2">
                        <div id="home-2-image">
                            <img src="{% static 'images/index.jpeg' %}">
                        </div>
                        <div>
                            <h4>Lorem ipsum dolor sit amet.</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias enim, error
                                iste
                                minus quos.</p>
                        </div>
                        <div>
                            <a class="noDecoration" style="color: black !important;" href="{% url 'filter' 'Bio-hacks' %}">
                                <button type="button" class="btn btn-outline-success"
                                        style="width:40%; min-height:20%;">View now!
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    home-3-->
    <!--    <div class="content">-->

    <!--    </div>-->
</div>
<!--Footer-->
<div>
    {% include 'footer.html' %}
</div>
</body>
</html>