{% load static %}
{% include 'base.html' %}
{% include 'navbar.html' %}


<!--EXTENDING FROM OTER TEMPLATES-->
<!--{% block content %}-->
<!--{% endblock %}-->
<!--{% block navbar %}-->
<!--{% endblock navbar %}-->
<div class="wrapper">
    <div class="container">
        <div class="row mt-5 pt-3 mb-3 pb-">
            <div class="col-md-7 text-center">
                <h1>Stitching made easy.</h1>
                <h5>
                    Stitch.com is a personal shop that focuses on local tailors and customers.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolores
                    doloribus ea enim eos est facere modi reiciendis sed veniam.
                </h5>
                <br>
                <button id="home-1-button">Shop now!</button>
            </div>
            <div class="col-md-5 text-center">
                <h2>Stitching made easy.</h2>
                <h5>
                    Stitch.com is a personal shop that focuses on local tailors and customers.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolores
                    doloribus ea enim eos est facere modi reiciendis sed veniam.
                </h5>
                <br>
            </div>
        </div>
    </div>

    <div style="width:100%;background:white;color:black;">
        <div class="container">
            <div class="row mx-auto mt-5 pt-5 mb-5 pb-5">
                <div class="col-sm-4" id="home-border-2">
                    <div id="home-2-image">
                        <img src="{% static 'images/index.jpeg' %}">
                    </div>
                    <div>
                        <h4>Lorem ipsum dolor sit amet.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum dolores ducimus fugiat id iure
                            modi nemo possimus quod sunt totam! Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Numquam, ratione!</p>
                    </div>
                </div>
                <div class="col-sm-4" id="home-border-2">
                    <div id="home-2-image">
                        <img src="{% static 'images/index.jpeg' %}">
                    </div>
                    <div>
                        <h4>Lorem ipsum dolor sit amet.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid error, eum expedita facere
                            itaque iure laboriosam maxime quis recusandae velit. Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit. Ipsam, minima.</p>
                    </div>
                </div>
                <div class="col-sm-4" id="home-border-2">
                    <div id="home-2-image">
                        <img src="{% static 'images/index.jpeg' %}">
                    </div>
                    <div>
                        <h4>Lorem ipsum dolor sit amet.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ducimus exercitationem
                            iusto labore maiores necessitatibus quidem quo voluptates. Error, vitae?Lorem ipsum dolor
                            sit amet, consectetur adipisicing elit. Esse, placeat!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% include 'footer.html' %}
</body>
</html>