{% load static %}
{% include 'base.html' %}
{% include 'navbar.html' %}


<!--EXTENDING FROM OTER TEMPLATES-->
<!--{% block content %}-->
<!--{% endblock %}-->
<!--{% block navbar %}-->
<!--{% endblock navbar %}-->
<div class="wrapper">
    <div class="container">
        <div class="row mt-5 pt-3 mb-3 pb-">
            <div class="col-md-7 text-center">
                <h1>Stitching made easy.</h1>
                <h5>
                    Stitch.com is a personal shop that focuses on local tailors and customers.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolores
                    doloribus ea enim eos est facere modi reiciendis sed veniam.
                </h5>
                <br>
                <button id="home-1-button">Shop now!</button>
                <div><br></div>
            </div>
            <div class="col-md-5 text-center">
                <h2>Stitching made easy.</h2>
                <h5>
                    Stitch.com is a personal shop that focuses on local tailors and customers.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolores
                    doloribus ea enim eos est facere modi reiciendis sed veniam.
                </h5>
                <br>
            </div>
        </div>
    </div>

    <div style="width:100%;background:white;color:black;">
        <div class="mx-auto text-center container-home-2" style="display:flex; align-items:center">
            <div class="row mx-auto mt-5 pt-5 mb-5 pb-5" style="padding:20px;">
                <div class="mx-auto col-sm-12 col-md-6 col-lg-4">
                    <a class="noDecoration" href="#">
                        <div class="container" id="home-border-2">
                            <div id="home-2-image">
                                <img src="{% static 'images/index.jpeg' %}">
                            </div>
                            <div>
                                <h4>Lorem ipsum dolor sit amet.</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias enim, error
                                    iste
                                    minus quos.</p>
                            </div>
                            <div>
                                <button type="button" class="btn btn-outline-success"
                                        style="width:40%; min-height:20%;">View now!
                                </button>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mx-auto col-sm-12 col-md-6 col-lg-4">
                    <a class="noDecoration" href="#">
                        <div class="container" id="home-border-2">
                            <div id="home-2-image">
                                <img src="{% static 'images/index.jpeg' %}">
                            </div>
                            <div>
                                <h4>Lorem ipsum dolor sit amet.</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias enim, error
                                    iste
                                    minus quos.</p>
                            </div>
                            <div>
                                <button type="button" class="btn btn-outline-success"
                                        style="width:40%; min-height:20%;">View now!
                                </button>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mx-auto col-sm-12 col-md-6 col-lg-4">
                    <a class="noDecoration" href="#">
                        <div class="container" id="home-border-2">
                            <div id="home-2-image">
                                <img src="{% static 'images/index.jpeg' %}">
                            </div>
                            <div>
                                <h4>Lorem ipsum dolor sit amet.</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias enim, error
                                    iste
                                    minus quos.</p>
                            </div>
                            <div>
                                <button type="button" class="btn btn-outline-success"
                                        style="width:40%; min-height:20%;">View now!
                                </button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Footer-->
<div>
    {% include 'footer.html' %}
</div>
</body>
</html>