{% include 'base.html' %}
{% include 'navbar.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% endblock content%}
{% block navbar %}
{% endblock navbar %}

{% if make_list %}
<div class="container mt-3">
    <div style="background:transparent !important" class="text-center">
        <h1 class="display-6">{{ user.username }}</h1><br>
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div>
            <br>
            <h3 class="text-center">Your orders</h3><br>
        </div>
    </div>
    <div class="row">
        {% for item in make_list reversed %}
        <div class="col-md-4">
            <div class="card mx-auto text-center" style="background:#181818;padding-bottom:15px;max-width:80%">
                <div class="card-header  text-center ">
                    Order ID - {{ item.0.ref_code }}
                </div>
                <div class="card-body">
                    <h5 class="card-title"> Item name - {{ item.1.product }}</h5>
                    <p class="card-text">Ordered on - {{ item.0.date_ordered }}</p>
                    <p class="card-text">Quantity - {{ item.1.quantity}}</p>
                </div>
            </div>
            <div><br></div>
        </div>

        {% endfor %}
    </div>
</div>
{% else %}
<div class="container mt-3">
    <div style="background:transparent !important" class="text-center">
        <h1 class="display-6">{{ user.username }}</h1><br>
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div>
            <br>
            <h3 class="text-center">Your orders</h3><br>
        </div>
    </div>
    <h1 class="text-center">No Orders</h1>
</div>
{% endif %}
</body>
</html>